<web-app>	
	<servlet>
		<servlet-name>execute</servlet-name>
		<servlet-class>controller.Execute</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>execute</servlet-name>
		<url-pattern>/execute</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>startSession</servlet-name>
		<servlet-class>controller.StartSession</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>startSession</servlet-name>
		<url-pattern>/startSession</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>controller.Download</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadCodeFile</servlet-name>
		<servlet-class>controller.UploadCodeFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadCodeFile</servlet-name>
		<url-pattern>/uploadCodeFile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadInputFile</servlet-name>
		<servlet-class>controller.UploadInputFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadInputFile</servlet-name>
		<url-pattern>/uploadInputFile</url-pattern>
	</servlet-mapping>

</web-app>