*
{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    /*background: linear-gradient(40deg, tomato, brown);*/
     background:#1D2632; 

}
header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 1rem;
}
h1
{
    color: white;
    margin:auto;
    font-size: 3rem;
    font-family: 'Girassol', cursive;
}
nav
{
    display: flex;
    justify-content: space-between;
}
nav input, nav select, nav option
{
    font-size: 1rem;
    font-weight: bold;
    background: white;
    border: none;
    color: rgb(97, 97, 138);
}
.files
{
    display: flex; 
}
.files > * 
{
    margin-right: 0.3rem;
    padding: 0.2rem;
}
.code-interactions
{
    display: flex;
}
.code-interactions > *
{
    margin-left: 0.3rem;
    padding: 0.2rem;
}
.ide 
{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 1rem;
}

.code-container, .ipop
{
    /*width: 100%;*/
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}
.code-container
{
  width:70%;
}
.ipop
{
  width:30%;
}
.code
{
    height: 100%;
}
.ip, .op 
{
    height: 50%;
}
textarea
{
    /*background-color: rgb(97, 97, 138);*/
    background-color: rgb(20, 20, 20);
    color: white;
    font-weight: bolder;
    padding: 0.4rem;
    border: 0.1rem solid white;
    border-radius: 0.3rem;  
    font-size: 1.3rem;
    font-family: monospace;
    cursor: context-menu;
}
textarea::placeholder
{
    color: rgb(100, 100, 100);
}


.newFileDiv{
    position: absolute;
    left: 25%;
    top: 25%;
    width:50vw;
    height:50vh;
    background: rgba(30, 30, 30, 1);
    border: 10px solid rgba(100, 100, 100, 1);
    border-radius: 20px;
    animation:0.5s ease-in popup;
    overflow: hidden;
}
@keyframes popup
{
    0% {
        top: -50vh;
    }
}
.closebutton
{
    position: absolute;
    width:1.5rem;
    height:1.5rem;
    background: black;
    color: white;
    border: 0.1rem solid rgba(100, 100, 100, 1);
}

.newFileHtml
{
    margin-top: 2rem ;
    font-weight: bolder; 
    color: white;
    font-size: 2rem;
    font-family: monospace;
    overflow: hidden;
}

.newFileHtml h2,
.newFileHtml form
{
    text-align: center;
}

.newFileHtml .fileName
{
    text-align: right;
    font-weight: bolder; 
    color: inherit;
    font-size: 1.8rem;
    font-family: monospace;
    background: inherit;
    width: 7rem;
    border-right: none;
    outline: none;
}
.newFileHtml .create
{
  color: white;
  font-size: 1.8rem;
  font-family: monospace;
  background: rgba(100, 100, 100, 1);
  border: white solid 0.2px;
  padding: 0.4rem;
}
.newFileHtml .create:hover
{
  background: rgba(150, 150, 150, 1);
}